*{
    background:	#202020;
}

.array-container{
    /* display: flex;
    justify-content: center;
    align-self: center; */
    /* top: 50vh; */
    left: 100px;
    bottom: 10px;
    position: absolute;
}

.array-bar{
    width: 5px;
    display: inline-block;
    margin: 0 1px;

}

.footer > button{
    border: none;
    background-color: #ffa700;
    margin: 2px;
    display: inline-block;
}